<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/docForm.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form action="/docForm" method="POST">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" name="name" placeholder="Enter your Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">City</span>
                        <input type="text" name="city" placeholder="city" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input name="phone" type="text" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Specialization</span>
                        <input type="text" name="specialization" placeholder="Enter your specialization" required/>
                    </div>
                </div>

                <div class=" button">
                    <input type="submit" value="Register">
                </div>
            </form>

            <!-- <div class="alert alert-danger">
                {{ message }}
            </div>


            <form action="/docForm" method="post">
                <label for="name">Name</label><br>
                <input type="text" name="name" placeholder="Name" /><br>
                <label for="phone">phone</label><br>
                <textarea name="phone" placeholder="phone"></textarea><br>
                <label for="city">City</label><br>
                <input type="text" name="city" placeholder="city" /><br>
                <label for="email">email</label><br>
                <input type="text" name="email" placeholder="email" /><br>
                <label for="specialization">specialization</label><br>
                <input type="text" name="specialization" placeholder="specialization"/><br>
                <input type="submit" value="Submit" />
            </form> -->
        </div>
    </div>

</body>

</html>