<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>PureLife</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/landingPage.css') }}">

    <script src="https://kit.fontawesome.com/c61125ee40.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo fs-lg">PureLife
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            <li><a href="#features">About</a></li>
                            <li><a href="#reviews">Reviews</a></li>
                            <li><a href="#blog">Blogs</a></li>
                            <li><a href="#contact-us">Contact Us</a></li>
                            <li><a href="./index.html">Diagnose</a></li>
                            <li><a href="{{url_for('login')}}">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>

                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>We Provide Free and Quick Diagnosis of Common Ailments</h1>
                        <p>PureLife is medical application for self-diagnosis and consultation from specialized doctors
                        </p>
                        <a href="./index.html" class="btn btn-primary">
                            Diagnosis</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="/Static/images/diagnose.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Free Diagnosis</h5>
                                <p>Get Free Self-Diagnosis at Home </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="/Static/images/doctors1.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Specialized Doctors</h5>
                                <p>Contact to specialized doctors nearby</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="/Static/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Proper Advice</h5>
                                <p>Best practices.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="/Static/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">What We DO Exactly!</h2>
                    </div>
                    <div class="left-text">
                        <p>We are a bridge between Doctors and Patients. You tell us your problems and we will
                            diagnose it and suggest you the best practices and as well as recommend a Doctor
                            specializing
                            in that field. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Lessen the workload and stress of the Community</h2>
                    </div>
                    <div class="left-text">
                        <p>We aim to lessen the dependency on Medical Staff regarding common Ailments which in turn
                            will reduce your stress as well as Doctor's Stress. </p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="/Static/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->

    <!-- ***** Home Parallax End ***** -->

    <!-- ***** reviews Start ***** -->
    <section class="section" id="reviews">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">What do they say?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>A customer talking about their experience with you is worth ten times that which you write or
                            say about yourself.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** reviews Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="/Static/images/testimonial-icon.png" alt=""></i>
                            <p>Normally I consult doctors in my town, and they are just not good at all, finding this
                                very helpful,
                                and also price is half as price in my town
                                and doctor is much much better. very happy, satisfied. have already recommednded to few
                                people</p>
                            <div class="user-image">
                                <img src="/Static/placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Ramesh</h3>
                                <span>Happy Patient1</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** reviews Item End ***** -->

                <!-- ***** reviews Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="/Static/images/testimonial-icon.png" alt=""></i>
                            <p>Very helpful. Nice to come across doctors who are willing to give time to patients to
                                explain everything in detail. and when i came back again on 2nd day
                                with some doubts, doctor helped without any additional charges.</p>
                            <div class="user-image">
                                <img src="/Static/placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Suresh</h3>
                                <span>Happy Patient2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** reviews Item End ***** -->

                <!-- ***** reviews Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="/Static/images/testimonial-icon.png" alt=""></i>
                            <p>Satisfied. I was very stressed and tense as I had persisting symptoms for which I was
                                falsely diagnosed
                                and was being given wrong medication, but in only few minutes, PureLife gave me an
                                accurate Diagnosis
                                as well as a good doctor.</p>
                            <div class="user-image">
                                <img src="/Static/placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Sachin</h3>
                                <span>Happy Patient3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** reviews Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** reviews End ***** -->

    <!-- ***** Pricing Plans Start ***** -->

    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>100+</strong>
                            <span>Doctors</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>500+</strong>
                            <span>Patients Helped</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>30+</strong>
                            <span>Disease</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>4.2⭐</strong>
                            <span>Rated</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Blog Start ***** -->
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Blog Entries</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="/Static/images/blog-item-1.png" alt="blog-image">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#"></a>
                            </h3>
                            <div class="text">
                                Humans aren’t meant to sit all day. Some weeks I sat for multiple days in a row.
                                My back started to seize up.
                                A disc in my spine got messed up. All because I let coroni-macaroni cancel my gym
                                membership and lie to me about how easy it is to do workouts at home.
                            </div>
                            <a class="btn blog-Link"
                                href="https://medium.com/mind-cafe/my-morning-rules-to-make-this-the-best-year-of-my-life-52a52cbc094e">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="/Static/images/blog-item-2.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#"></a>
                            </h3>
                            <div class="text">
                                Here’s how to break the negative thought patterns before it spirals out of control
                                I was at the London Heathrow Airport for a connecting flight. Due to Christmas, the
                                airport was hugely crowded. Traveling for the first time alone gave me chills.

                            </div>
                            <a class="btn blog-Link"
                                href="https://medium.com/better-humans/3-quick-cures-for-negative-thinking-3e2b71e9a08f">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="/Static/images/blog-item-3.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#"></a>
                            </h3>
                            <div class="text">
                                ARE YOU INTERESTED IN LONGEVITY?
                                I recently read some provocative observations at bluezones.com. What do you think?
                                Travel to the Aegean island of Ikaria, and you suddenly feel a breeze of air in your
                                hair and realize how beautiful life is actually.

                            </div>
                            <a class="btn blog-Link"
                                href="https://medium.com/beingwell/2-life-enriching-morning-rituals-41cefd29c31c">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Talk To Us</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Give your review and help us to improve our service.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12 contactCenter">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name"
                                            placeholder="Full Name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email"
                                            placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message"
                                            placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/Static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/Static/js/popper.js"></script>
    <script src="/Static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/Static/js/scrollreveal.min.js"></script>
    <script src="/Static/js/waypoints.min.js"></script>
    <script src="/Static/js/jquery.counterup.min.js"></script>
    <script src="/Static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/Static/js/custom.js"></script>

</body>

</html>