<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | PureLife</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/login.css') }}">
    <script src="https://kit.fontawesome.com/c61125ee40.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        
    </form> -->
    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="login__field">

                        <i class="login__icon fas fa-user"></i>
                        {{ form.username }}
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        {{ form.password }}
                    </div>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
                <div class="social-login">
                    <h3>log in via</h3>
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                    <a href="/frontPage.html" style="text-decoration: none;" class="button login__submit margin-top">
                        <i class="button__icon fas fa-chevron-left"></i>
                        <span class="button__text">Back to Home</span>
                    </a>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>